<?xml version="1.0" ?>
<!--
/**
 * Copyright (c) 2024
 * MIT License
 * Module AnassTouatiCoder_LokaliseTranslation
 * Author Anass TOUATI anass1touati@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Translate"
                type="AnassTouatiCoder\LokaliseTranslation\Rewrite\Magento\Framework\Translate"/>
    <type name="AnassTouatiCoder\LokaliseTranslation\Model\APIService">
        <arguments>
            <argument name="logger" xsi:type="object">AnassTouatiCoder\LokaliseTranslation\Logger\Logger</argument>
        </arguments>
    </type>
    <virtualType name="AnassTouatiCoder\LokaliseTranslation\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">CustomLog</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">AnassTouatiCoder\LokaliseTranslation\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AnassTouatiCoder\LokaliseTranslation\Logger\Handler"
                 type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/at_lokalise.log</argument>
            <argument name="loggerType" xsi:type="number">200</argument>
        </arguments>
    </virtualType>
</config>
